@model Blogfolio.Web.Areas.Admin.ViewModels.SocialSettingsEditModel

@{
    ViewBag.Title = "Social Settings";
}

<section class="settings">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>

    <p class="text-info">
        @ViewBag.StatusMessage
    </p>

    @using (Html.BeginForm("Social", "Settings", FormMethod.Post, new {id = "socialSettingsForm", role = "form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <p class="form-info">
            Order of the elements can be changed by dragging
        </p>

        <ul id="social-items-container" class="list-inline list-unstyled">
            @foreach (var settingItem in Model.SocialItems.AsEnumerable())
            {
                Html.RenderPartial("_SocialItem", settingItem);
            }
        </ul>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
                <div class="col-xs-6 text-right">
                    <a href="@Url.Action("AddSocialItem")" class="btn btn-default" data-ajax="add-social-item">Add Item</a>
                </div>
            </div>
        </div>
    }
</section>